openapi: 3.2.0
info:
  title: QRSalt Domains API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 14 operation(s) read from 2 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; QRSalt has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 2
    documentation: 12
    pages-with-code: 2
    pages-read: 2
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://qrsalt.com/qr-code-api
  - https://qrsalt.com/qr-code-api/docs
servers:
- url: https://app.qrsalt.com
security:
- bearer: []
tags:
- name: Domains
paths:
  /api/v1/domains/{id}/check:
    post:
      operationId: post_api_v1_domains_id_check
      tags:
      - Domains
      summary: Check DNS now
      x-source: https://qrsalt.com/qr-code-api/docs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1DomainsIdCheckResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    PostApiV1DomainsIdCheckResponse:
      type: object
      properties:
        data:
          type: object
          description: Result of DNS check
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
